<footer class="bg-dark text-light pt-5">
  <div class="container-fluid">
    <div class="row">

      <!-- About -->
      <div class="col-md-4 mb-4">
        <h4 class="navbar-brand fs-4 text-white" href="#">Fit<span class="text-danger">N</span><span>Fine</span></h4>
        <p class="pe-5">
         Transforming lives through fitness since 2025. Our state-of-the-art facility and expert trainers are here to help you achieve your fitness goals.
        </p>
      </div>

      <!-- Links -->
      <div class="col-md-2 mb-4">
        <h5 class="fw-bold">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/about" class="footer-link">About</a></li>
          <li><a href="/trainer" class="footer-link">Trainers</a></li>
          <li><a href="/membership" class="footer-link">Membership</a></li>
          <li><a href="/gallery" class="footer-link">Gallery</a></li>
        </ul>
      </div>

      <!-- Contact -->
      <div class="col-md-3 mb-4">
        <h5 class="fw-bold">Contact Us</h5>
        <p><i class="fas fa-map-marker-alt text-danger"></i> Ahemdnagar Maharashtra, India</p>
        <p><i class="fas fa-phone text-primary"></i> +91 98765 43210</p>
        <p><i class="fas fa-envelope text-info"></i> fitnfine@gmail.com</p>
      </div>

      <!-- Social Media -->
      <div class="col-md-2 mb-4">
        <h5 class="fw-bold">Follow Us</h5>
        <div class="social-icons">
          <a href="#" class="text-primary me-3"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-info me-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-danger me-3"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-primary me-3"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>

    </div>

    <hr class="border-secondary">

    <div class="text-center pb-3">
      <p class="mb-0">
        © 2026 FitNFin Gym. All Rights Reserved.
      </p>
    </div>
  </div>
</footer>
